{% extends 'base_admin.html.twig' %}

{% block jQuery %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block dataTables %}
<link
href="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-M6C9anzq7GcT0g1mv0hVorHndQDVZLVBkRVdRb2SsQT7evLamoeztr1ce+tvn+f2" crossorigin="anonymous">

<script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.js" integrity="sha384-k90VzuFAoyBG5No1d5yn30abqlaxr9+LfAPp6pjrd7U3T77blpvmsS8GqS70xcnH" crossorigin="anonymous"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.2.2/i18n/fr-FR.json',
            }
        });
    } );
</script>
{% endblock %}

{% block title %}
    Utilisateurs
{% endblock %}

{% block main %}
	<h1 class="text-center my-3 display-5">Liste des utilisateurs</h1>

    {% include 'component/_alert.html.twig' %}

    <div class="container-fluid">
        <table id="myTable" class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    
                    <th>Roles</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{user.firstName}}</th>
                        <th>{{user.lastName}}</th>
                        <th>{{user.email}}</th>
                        <th>
                            {% for role in user.roles %}
                                {{role}}
                            {% endfor %}
                        </th>
                        <th>
                            {% if user.waitingToChangeFamilyMembersNumber is not empty %}
                                <a href="{{path('app_admin_user_process_to_change_family_members_number', {'id':user.id, 'number':user.waitingToChangeFamilyMembersNumber})}}">Valider la demande de changement du nombre de membres</a>
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
