{% extends 'base_user.html.twig' %}

{% block title %}
	Livre
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/styles/details.css"/>
{% endblock %}

{% block main %}
	<main class='book_details'>

		{% if message|default(false) %}
			<div class="alert alert-success text-center" role="alert">
				{{message}}
			</div>
		{% endif %}


		<h1>{{book.title}}</h1>

		<img src="{{book.image}}" alt="couverture">
		<div class='info'>

			<p class='categorie'>{{book.categorie}}</p>

			<p class='summary'>{{book.summary}}</p>

			<p class='author'>{{bookAuthor.name}}</p>
		</div>

		<div class='button'>
			<a href='{{ path('app_book_list') }}' class='btn btn-secondary'>Retour à la liste</a>
			<a href='{{ path('app_book_reserve', {'id': book.id, 'user_id': app.user.id}) }}' class='btn btn-info'>Réservé</a>


		</div>

	</main>
{% endblock %}
